
header{
    position: stu;
    z-index: 5;
}
.nav-link{
    color:white
}

#navbarSupportedContent {
    margin-right: 8%;
}


.nav-link dropdown-toggle:hover {
    background-color: #E53040;
    color: white
}

#login-btn{
margin-left: 5%;

}

.navbar:hover {
    background-color: #E53040;
    color: white
}

a#navbarDropdown:hover {
    background-color: #E53040;
    color:white
}


.dropdown-menu.show {
    background: #0D1218;
}

a.dropdown-item {
    color: white;
}

    a.dropdown-item:hover {
        background: #E53040;
        color: white;
    }

    
.dropdown-item:hover {
    
    background-color: #E53040;
    color:white
}

.dropdown-item{
    background-color:#0D1218;
    color:white
    
}

.dropdown-divider{
    background-color:#E53040;
    
}

.dropdown-menu show{
    background:#0D1218
}

