<header >


 <nav class="navbar navbar-expand-lg navbar-light navbar-inverse fixed-top " data-wow-delay="2s" data-wow-duration="2s" id="navbar" style="    background-color: #000000ad !important; height:70px">
        <div class="container-fluid">
    

    <a class="navbar-brand zoomIn animated" href="#">
          <img class="wow fadeIn" src="/assets/img/EOHLOGO13.png" style="width: 18%; height:65px;
          margin-left: 16%;
          border-bottom-style: solid;
    border-color:  #E53040;
    border-radius: 17px;
    border-bottom-width: 0.9px;
      " class="d-inline-block align-top" alt="EOH Training Portal Logo">
      </a>
   
      

      <div id="navbarSupportedContent">
          <ul class="navbar-nav" style="color: white;
         display: -webkit-inline-box;">
              <li  >
                  <a class="nav-link wow fadeInDown" routerLinkActive="active current" data-wow-delay="0.1s"  routerLink="" style="color:white">HOME </a>
              </li>

              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle wow fadeInDown" data-wow-delay="0.2s" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:white">ABOUT
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown" >
                      <a class="dropdown-item" routerLink="/home/about-eoh-training">EOH Training</a>                           
                      <a class="dropdown-item" href="Programming.aspx">Programming Brochure</a>
                      <a class="dropdown-item" href="WebDesignBrochure.aspx">Web Design Brochure</a>
                      <a class="dropdown-item" href="SqlBrochure.aspx">SQL Brochure</a>
                      <a class="dropdown-item" href="GraphicDesignBrochure.aspx">Graphic Design Brochure</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="InternationalCertifications.aspx">International Certifications</a>
                  </div>
              </li>

              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle wow fadeInDown" data-wow-delay="0.3s" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:white;;">COURSES
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" routerLink="/courses/programming">Programming Courses</a>
                      <a class="dropdown-item" href="/courses/webdesign">Web Design Courses</a>
                      <a class="dropdown-item" href="/courses/sql">SQL Courses</a>
                      <a class="dropdown-item" href="/courses/datascience">Data Science Courses</a>
                      <a class="dropdown-item" href="/courses/graphicdesign">Graphic Design Courses</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="CorporateTraining.aspx">Corporate Training</a>
                  </div>
              </li>


              <li class="nav-item">
                  <a class="nav-link wow fadeInDown" data-wow-delay="0.4s"href="#" style="color:white">REVIEWS</a>
              </li>

              <li class="nav-item">
                  <a class="nav-link wow fadeInDown" data-wow-delay="0.5s" href="#" style="color:white">LECTURERS</a>
              </li>

              <li class="nav-item" >
                  <a class="nav-link wow fadeInDown" data-wow-delay="0.6s" href="#" style="color:white">CONTACT US</a>
              </li>

              <li class="nav-item wow fadeInRight" data-wow-delay="0.7s"  id="login-btn"  >
                  <button class="btn btn-outline-danger my-2 my-sm-0"  type="submit"><a style="color:white" routerLink="/user/registration">LOG IN/SIGN UP</a></button>
              </li>

          </ul>
      </div>
   
    </div>
  </nav>



</header>
