<br>
<br>
<div class="container fadeIn animated" data-wow-delay="5s" data-wow-duration="5s" style="box-shadow: 0px 0px 10px 5px black; padding:3%">
    <div class="row">
        <div class="col-8" >
            <img src="/assets/img/programming.jpg" style="width:inherit; box-shadow: 0px 0px 10px 5px black;"  />
            <br />
            <br>
            <br>
                <h2><u>Programming Courses</u></h2>
                <br />
            
            <div class="container course-info" >
                <h4>Questions to ask yourself about Programming Courses?</h4>
                <br />
                <strong>All in all are the Programming Courses in demand?</strong> – Definitely yes and very HIGHLY. Not to mention there’s a real shortage of developers in the workplace. Thus creating a massive demand for software development. In addition the top 3 jobs in South Africa today is Software Development or programming. Not to mention Android Development, Java Development, C# Programming, c++ programming (pronounced c plus plus), python programming, vb programming as well as Web Development. In addition See our Graphic Design Course<br /><br />

                <strong>Is what I learn in coding relevant and of value?</strong> – Definitely Yes. In fact it’s current and furthermore you learn from experienced developers/lecturers. In addition with strong programming content.<br /><br />

                <strong>Can I get a job in programming after the software development courses?</strong> – Definitely yes. In addition study further towards your Microsoft certificate (MCSD), Microsoft Python Certificate or even a Microsoft Data Science Certificate (MCSE)

            </div>
        </div>
        <div class="col-4">
            <h4 style="border:solid; text-align:center">STARTING AT <span style="color:yellowgreen; font-size:xx-large" >R8900</span></h4>
            <p style="text-align:center">Courseware Inclusive</p>
            <p style="text-align:center">1-on-1 Expert</p>
            <p style="text-align:center">Flexible Hours</p>
            <p style="text-align:center">Commence anytime</p>

            <br />

            <h4 style="border:solid; text-align:center">OFFERED</h4>
            <p style="text-align:center">Part-Time</p>
            <p style="text-align:center">Full-Time</p>
            <p style="text-align:center">High School</p>
            <p style="text-align:center">Tertiary</p>
            <p style="text-align:center">Corporate</p>
        
            <h4 style="border:solid; text-align:center">LIST OF GRAPHIC DESIGN COURSES</h4>
            <p style="text-align:center; color:lightskyblue"><a routerLink="/courses/csharp-programming"><i>C# Programming</i></a></p>
            <p style="text-align:center; color:lightskyblue"><a routerLink="/courses/java"><i>Java Development</i></a></p>
            <p style="text-align:center; color:lightskyblue"><a routerLink="/courses/android"><i>Android Development</i></a></p>
            <p style="text-align:center; color:lightskyblue"><a routerLink="/courses/cplusplus"><i>C++ Programming</i></a></p>
            <p style="text-align:center; color:lightskyblue"><a routerLink="/courses/python"><i>Python Programming</i></a></p>
            <p style="text-align:center; color:lightskyblue"><a routerLink="/courses/vb"><i>VB Programming</i></a></p>

        

        </div>
    </div>
</div>

<br>
<br>