.card {
    box-shadow: 4px 7px 13px 2px black;
    width: 18rem; height: 18rem;
    background-color:black;
    border-color: #E53040;
    
}

.card:hover {
    box-shadow: 6px 9px 15px 4px black;
}

.card-img-top {
    width: 100%;
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
    height: 71%;
}