<br>

<div class="container wow slideInUp" data-wow-delay="0.7s" data-wow-duration="0.5s" >
        <div class="row">
            <div class="col-sm">
                <div class="card">
                    <img class="card-img-top" src="/assets/img/programming.jpg" alt="Programming Card">
                    <div class="card-body">                                               
                        <p style="text-align:center"><a routerLink="/courses/programming" class="btn btn-outline-danger">PROGRAMMING COURSES</a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card">
                    <img class="card-img-top" src="/assets/img/webDesign.jpg" alt="Web Design Card">
                    <div class="card-body">                                               
                        <p style="text-align:center"><a routerLink="/courses/webdesign" class="btn btn-outline-danger">WEB DESIGN COURSES</a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 18rem;  height: 18rem; background-color:black;     border-color: #E53040;">
                    <img class="card-img-top" src="/assets/img/SQLQuery.jpeg" alt="SQL Database Card">
                    <div class="card-body">                                               
                        <p style="text-align:center"><a href="CoursesSQL.aspx" class="btn btn-outline-danger">SQL DATABASE COURSES</a></p>
                    </div>
                </div>
            </div>            
        </div>
        <br />
        <div class="row">
            <div class="col-sm">
                <div class="card" >
                    <img class="card-img-top" src="/assets/img/dataScience.jpg" alt="Data Science">
                    <div class="card-body">                                               
                        <p style="text-align:center"><a href="CoursesDataScience.aspx" class="btn btn-outline-danger">DATA SCIENCE COURSES</a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card">
                    <img class="card-img-top" src="/assets/img/graphicDesign.jpg" alt="Graphic Design Card">
                    <div class="card-body">                                               
                        <p style="text-align:center"><a href="CoursesGraphicDesign.aspx" class="btn btn-outline-danger">GRAPHIC DESIGN COURSES</a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" >
                    <img class="card-img-top" src="/assets/img/autoCad.jpg" alt="AutoCad Card">
                    <div class="card-body">                                               
                        <p style="text-align:center"><a href="#" class="btn btn-outline-danger">AUTOCAD COURSES</a></p>
                    </div>
                </div>
            </div>            
        </div>
    </div>



    