<div class="container fadeIn animated" style=" margin-top:6%; padding: 3%; box-shadow: 0px 0px 10px 5px black">
    <div class="row">
        <div class="col-8">
            <img src="/assets/img/webDesign.jpg" style="width:inherit;  box-shadow: 0px 0px 10px 5px black" />
            <br />
            <br>
            <br>
                <h2><u>Web Design Courses</u></h2>
                <br />
            
            <div class="container" style="border: solid; padding:6%; box-shadow: 0px 0px 10px 5px black">
                <h4>Questions to ask yourself about Web Design Courses?</h4>
                <br />
                <strong>All in all are the Web Design Courses in demand?</strong> – Definitely yes. Not to mention there’s a real shortage of designers in the workplace. Thus creating a massive demand for web designers. In addtion it is a job that is needed due to need to comply with consumer demands and for develops to not care about UI of web sites. In addition See our Graphic Design Course<br /><br />

                <strong>Is what I learn in coding relevant and of value?</strong> – Definitely Yes. In fact it’s current and furthermore you learn from experienced designers/developers/lecturers. In addition with strong web design content.<br /><br />

                <strong>Can I get a job in web design after the Web Design courses?</strong> – Yes. In addition study further towards your Microsoft certificate (MCSD).

            </div>
        </div>
        <div class="col-4">
            <h4 style="border:solid; text-align:center">STARTING AT <span style="color:yellowgreen; font-size:xx-large" >R7000</span></h4>
            <p style="text-align:center">Courseware Inclusive</p>
            <p style="text-align:center">1-on-1 Expert</p>
            <p style="text-align:center">Flexible Hours</p>
            <p style="text-align:center">Commence anytime</p>

            <br />

            <h4 style="border:solid; text-align:center">OFFERED</h4>
            <p style="text-align:center">Part-Time</p>
            <p style="text-align:center">Full-Time</p>
            <p style="text-align:center">High School</p>
            <p style="text-align:center">Tertiary</p>
            <p style="text-align:center">Corporate</p>

            <h4 style="border:solid; text-align:center">LIST OF WEB DESIGN COURSES</h4>
            <p style="text-align:center; color:lightskyblue"><a routerLink="/courses/html"><i>HTML</i></a></p> 
            <p style="text-align:center; color:lightskyblue"><a routerLink="/courses/css"><i>CSS</i></a></p>
            <p style="text-align:center; color:lightskyblue"><a routerLink="/courses/javascript"><i>JAVASCRIPT</i></a></p>
            <p style="text-align:center; color:lightskyblue"><a routerLink="/courses/php"><i>PHP</i></a></p>
            <p style="text-align:center; color:lightskyblue"><a routerLink="/courses/wordpress"><i>WORDPRESS</i></a></p>



        </div>
    </div>
</div>