<div class="container-fluid" style="color:white">
    <hr style="    background: #E53040;
    box-shadow: 0px -2px 4px 1px black;"/>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm" style="text-align:center">
                    
                    <u><h5>Connect</h5></u>
                    <h6>info@eoh.co.za</h6>
                    <h6>021 425 3430</h6>

                    <a href="#">Contact Us</a> <br />
                    <a href="#">About Us</a> <br />
                    <a href="#">Our Lecturers</a> <br />
                    

                    

                </div>
                <div class="col-sm" style="text-align:center">
                    <h5><u>View Courses</u></h5>
                    <a href="Programming.aspx">Programming</a> <br />
                    <a href="CoursesWebDesign.aspx">Web Design</a> <br />
                    <a href="CoursesSQL.aspx">SQL</a> <br />
                    <a href="CoursesDataScience.aspx">Data Science</a><br />
                    <a href="CoursesGraphicDesign.aspx">Graphic Design</a> <br />

                    
                </div>
                <div class="col-sm" style="text-align:center">
                    <h5><u>Find Us At The Office</u></h5>

                    <h6>1st Floor, Block B</h6> 
                    <h6>Granger Bay Court</h6> 
                    <h6>Beach Road, V&A </h6> 
                    <h6>Waterfront</h6> 
                    <h6>Cape Town 8001</h6>
                    
                </div>
               
            </div>
        </div>
    </footer>
</div>