.carousel-item{
    height:700px
}

.nav-link{
    color:white

}

body{
    background:#0D1218;
    color:white
    
}

.btn-outline-danger{
    color:white
}

.card-img-top{
    height:200px
}

h1{
    color:white
}

h3{
    color:white
}

u{
    color:white
}

btn btn-danger my-2 my-sm-0{
    color:white
}

.navbar navbar-expand-lg navbar-light bg-light{
    background-color:#0D1218 !important
}

 h2{
    color:#f04b51
}

h4{
    color:#f04b51
}

strong{
    color:#f04b51
}
hr{
    background:#E53040
}