.carousel-item{
 
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
  z-index: -10;
}

.nav-link{
    color:white

}

body{
    background:#0D1218;
    color: white
}

.btn-outline-danger{
    color:white
}

.card-img-top{
    height:200px
}

hr {
    background: #E53040
}

.dropdown-item:hover {
    
    background-color: #E53040;
    color:white
}

.dropdown-item{
    background-color:#0D1218;
    color:white
    
}

.dropdown-divider{
    background-color:#E53040;
    
}

.dropdown-menu show{
    background:#0D1218
}

h2{
    color:#f04b51
}


