
<div class="container-fluid wow fadeIn" data-wow-delay="0.9s" data-wow-duration="0.8s" style="margin-top: 70px">
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner" style="height: 380px">

      <div class="carousel-item active wow fadeIn" style=" background-image: url(/assets/img/programming.jpg)">
        <div class="container wow fadeIn" data-wow-delay="1s">

          <div class="row">
            <div class="col-sm bg-content" >
              <h1 style="text-align: center; color: white; font-family: Arial, Helvetica, sans-serif">
                <strong>PROGRAMMING</strong></h1>
            </div>
          </div>

          <br />

          <div class="row">
            <div class="col-sm" >
              <h3 style="text-align: center; color: white; font-family: Arial, Helvetica, sans-serif"><strong>C#, VB,
                  JAVA, ANDROID, PYTHON, C++</strong></h3>
            </div>
          </div>

          <br />

          <div id="bg-btn">
             <ul>
                  <li>
                      <button class="btn btn-danger">VIEW COURSES</button>
                  </li>
                  <li>
                    <button class="btn btn-danger">BROCHURE</button>
                  </li>
                  <li>
                    <button class="btn btn-danger">REVIEWS</button>
                  </li>
              </ul>
          </div>

          <!-- <div class="row">
            <div class="col-sm" style="text-align:center">
              <button class="btn btn-danger my-2 my-sm-0" type="submit" style="color:white"><a
                  href="CoursesProgramming.aspx" style="color:white">VIEWS COURSES</a></button>
            </div>
            <div class="col-sm" style="text-align:center">
              <button class="btn btn-danger my-2 my-sm-0" type="submit" style="color:white"><a href="Programming.aspx"
                  style="color:white">BROCHURE</a></button>
            </div>
            <div class="col-sm" style="text-align:center">
              <button class="btn btn-danger my-2 my-sm-0" type="submit" style="color:white">REVIEWS</button>
            </div>
          </div> -->
        </div>
      </div>






      <div class="carousel-item" style=" background-image: url(/assets/img/dataScience.jpg)">
        <div class="container" >
          <div class="row">
            <div class="col-sm bg-content">
              <h1 style="text-align: center; color: white; font-family: Arial, Helvetica, sans-serif"><strong>DATA
                  SCIENCE</strong></h1>
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col-sm">
              <h3 style="text-align: center; color: white; font-family: Arial, Helvetica, sans-serif"><strong>Python, R,
                  SQL Server, My SQL</strong></h3>
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col-sm" style="text-align:center">
              <button class="btn btn-danger my-2 my-sm-0" type="submit"><a href="CoursesDataScience"
                  style="color:white">VIEW COURSE</a></button>
            </div>
            <div class="col-sm" style="text-align:center">
              <button class="btn btn-danger my-2 my-sm-0" type="submit"><a href="#"
                  style="color:white">BROCHURE</a></button>
            </div>
            <div class="col-sm" style="text-align:center">
              <button class="btn btn-danger my-2 my-sm-0" type="submit" style="color:white">REVIEWS</button>
            </div>
          </div>
        </div>
      </div>


      <div class="carousel-item" style=" background-image: url(/assets/img/SQLQuery.jpeg)">
        <div class="container">
          <div class="row">
            <div class="col-sm bg-content">
              <h1 style="text-align: center; color: white; font-family: Arial, Helvetica, sans-serif"><strong>SQL
                  DATABASE</strong></h1>
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col-sm">
              <h3 style="text-align: center; color: white; font-family: Arial, Helvetica, sans-serif"><strong>SQL
                  SERVER, ORACLE, MYSQL, SQLite</strong></h3>
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col-sm" style="text-align:center">
              <button class="btn btn-danger my-2 my-sm-0" type="submit" style="color:white"><a href="CoursesSQL.aspx"
                  style="color:white">VIEW COURSES</a></button>
            </div>
            <div class="col-sm" style="text-align:center">
              <button class="btn btn-danger my-2 my-sm-0" type="submit" style="color:white"><a href="SqlBrochure.aspx"
                  style="color:white">BROCHURE</a></button>
            </div>
            <div class="col-sm" style="text-align:center">
              <button class="btn btn-danger my-2 my-sm-0" type="submit" style="color:white">REVIEWS</button>
            </div>
          </div>
        </div>
      </div>


      <div class="carousel-item" style="background-image: url(/assets/img/graphicDesign.jpg)">
        <div class="container">
          <div class="row">
            <div class="col-sm bg-content">
              <h1
                style="text-align: center; outline-color:black; outline-width:2px; color: white; font-family: Arial, Helvetica, sans-serif">
                <strong>GRAPHIC DESIGN</strong></h1>
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col-sm">
              <h3 style="text-align: center; color: white; font-family: Arial, Helvetica, sans-serif">
                <strong>Illustrator, InDesign, (DTP), Photoshop, CorelDraw</strong></h3>
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col-sm" style="text-align:center">
              <button class="btn btn-danger my-2 my-sm-0" type="submit" style="color:white"><a
                  href="CoursesGraphicDesign.aspx" style="color:white">VIEW COURSE</a></button>
            </div>
            <div class="col-sm" style="text-align:center">
              <button class="btn btn-danger my-2 my-sm-0" type="submit" style="color:white"><a
                  href="GraphicDesignBrochure.aspx" style="color:white">BROCHURE</a></button>
            </div>
            <div class="col-sm" style="text-align:center">
              <button class="btn btn-danger my-2 my-sm-0" type="submit" style="color:white">REVIEWS</button>
            </div>
          </div>
        </div>
      </div>


      <div class="carousel-item" style="background-image: url(/assets/img/webDesign.jpg)">
        <div class="container" >
          <div class="row">
            <div class="col-sm bg-content">
              <h1
                style="text-align: center; outline-color:black; outline-width:5px; color: white; font-family: Arial, Helvetica, sans-serif">
                <strong>WEB DESIGN</strong></h1>
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col-sm">
              <h3 style="text-align: center; color: white; font-family: Arial, Helvetica, sans-serif"><strong>HTML, CSS,
                  JAVASCRIPT, PHP, WORDPRESS</strong></h3>
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col-sm" style="text-align:center">
              <button class="btn btn-danger my-2 my-sm-0" type="submit" style="color:white"><a
                  href="CoursesWebDesign.aspx" style="color:white">VIEW COURSE</a></button>
            </div>
            <div class="col-sm" style="text-align:center">
              <button class="btn btn-danger my-2 my-sm-0" type="submit" style="color:white"><a
                  href="WebDesignBrochure.aspx" style="color:white">BROCHURE</a></button>
            </div>
            <div class="col-sm" style="text-align:center">
              <button class="btn btn-danger my-2 my-sm-0" type="submit" style="color:white">REVIEWS</button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev"
    style="    margin-top: 376px;
    height: 349px;;">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next"
    style="    margin-top: 376px;
    height: 349px;;">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<br>
