.home{
    color: white;
}




body{
    background:#0D1218
}

.btn-outline-danger{
    color:white
}

.card-img-top{
    height:200px
}

hr {
    background: #E53040
}






strong{
    background-color:#0D1218
}
