<br>
<br>
<div class="container fadeIn animated" style="padding: 3%; box-shadow: 0px 0px 10px 5px black;">
    <div class="row">
        <div class="col-8">
            <img src="/assets/img/VB.jpg" style="width: inherit; height:400px; box-shadow: 0px 0px 10px 5px black;" alt="VBimage"/>
            <br />
            <br>
            <br>
                <h2><u>VB Course for Developers</u></h2>
                <br />
            
            <div class="container" style="border: solid; box-shadow: 0px 0px 10px 5px black; padding:6%;">
                <h4>Learn VB from the basics up and advance your way to become a well recognised Developer.</h4>
                <br />
                <h3><strong>VB COURSE OBJECTIVES:</strong> </h3>
                <h5>By the end of the course students will have usable knowledge of the following:</h5>
                <ul>
                    <li>Understand OOP – Object Orientated Programming</li>
                    <li>Be able to understand Classes and Objects.</li>
                    <li>Get understanding datatypes and operators.</li>
                    <li>Thoroughly Understand variable declaration including initialization.</li>
                    <li>Methods, functions and sequential code.</li>
                    <li>Decision making: If statements not to mention switch cases.</li>
                    <li>Loops, namely a do while, for loop and while loop.</li>
                    <li>With attention to commenting, refracting code and naming standards.</li>
                    <li>Have an understanding of IDE’s, applets, publishing applications.</li>
                    <li>Including a basic understanding of databases.</li>
                </ul>
            </div>
        </div>
        <div class="col-4">
            
            <p style="text-align: center; "><button class="btn btn-outline-danger my-2 my-sm-0" style="background:#E53040;" type="submit"><a style="color:white" href="PurchaseCourse.aspx">PURCHASE COURSE</a></button></p>
            
            <h4 style="border: solid; text-align: center">STARTING AT <span style="color: yellowgreen">R8900</span></h4>
            <p style="text-align: center">Courseware Inclusive</p>
            <p style="text-align: center">1-on-1 Expert</p>
            <p style="text-align: center">Flexible Hours</p>
            <p style="text-align: center">Commence anytime</p>

            <br />

            <h4 style="border:solid; text-align:center">OFFERED</h4>
            <p style="text-align:center">Part-Time</p>
            <p style="text-align:center">Full-Time</p>
            <p style="text-align:center">High School</p>
            <p style="text-align:center">Tertiary</p>
            <p style="text-align:center">Corporate</p>

            <h4 style="border:solid; text-align:center">JOURNEY TO INTERNATIONAL CERTIFICATIONS</h4>
            <p style="text-align:center;  color:white "><button class="btn btn-outline-danger my-2 my-sm-0" style="background:#E53040; color: white"><a style="color: white" href="https://www.microsoft.com/en-us/learning/mcsa-certification.aspx" target="_blank">MCSA</a></button></p>
            <p style="text-align:center;  color:white"><button class="btn btn-outline-danger my-2 my-sm-0" style="background:#E53040; color: white"><a style="color: white" href="https://www.microsoft.com/en-us/learning/mcsa-certification.aspx" target="_blank">MCSD/MSCE</a></button></p>
            <p style="text-align:center;  color:white"><button class="btn btn-outline-danger my-2 my-sm-0" style="background:#E53040; color: white"><a style="color: white" href="https://certification.comptia.org/docs/default-source/downloadablefiles/it-certification-roadmap.pdf?" target="_blank">Comptia</a></button></p>
            <p style="text-align:center;  color:white"><button class="btn btn-outline-danger my-2 my-sm-0" style="background:#E53040; color: white"><a style="color: white" href="https://education.oracle.com/oracle-certification-exams-list?" target="_blank">Oracle</a></button></p>
         



        </div>
    </div>
</div>
<br>
<br>
